&spi1 {
	compatible = "nordic,nrf-spi";
	status = "okay";
	cs-gpios = <&gpio1 6 (GPIO_ACTIVE_LOW)>;
	pinctrl-0 = <&spi1_default>;
	pinctrl-1 = <&spi1_sleep>;
	pinctrl-names = "default", "sleep";
	lora0: sx1276@0 {
		compatible = "semtech,sx1276";
		reg = <0>;
		reset-gpios = <&gpio1 7 GPIO_ACTIVE_LOW>;
		dio-gpios = <&gpio1 5 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
		power-amplifier-output = "pa-boost";
		spi-max-frequency = <125000>;
	};
};

/ {
     aliases {
             lora0 = &lora0;
     };
};
