osource "c:/users/petrikas.lu/desktop/work/nrf/nrf52_lora/boards/shields/*/Kconfig.shield"
osource "./boards/shields/*/Kconfig.shield"
osource "C:/Users/petrikas.lu/Desktop/WORK/NRF/nrf52_lora/./boards/shields/*/Kconfig.shield"
osource "C:/ncs/v2.4.0/nrf/boards/shields/*/Kconfig.shield"
